{% extends 'layout.html' %}
{% block body %}

<div class="container"> 

    <div class="row">
        <h1 style="color: white;">Registrando Alumnos...</h1>
        <div class="col-md-6 offser-md-3">
            {% with mensajes = get_flashed_messages(with_categories=true) %}
                    {% if mensajes %}
                        {% for categoria, mensaje in mensajes %}
                            <div class="alert alert-{{ categoria }}">
                                {{ mensaje }}
                            </div>
                        {% endfor %}
                    {% endif %}
            {% endwith %}
            <div class="card card-body mt-4">
                <!--Tu formulario aquí -->
                <form action="{{ url_for('registra') }}" method="POST">
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" id="dni" name="dni" placeholder="Dni" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="apellido">APELLIDO</label>
                        <input type="text" id="apellido" name="apellido" placeholder="Apellido" class="form-control">
                    </div>
                    

                    <div class="form-group">
                        <label for="nombre">NOMBRE</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="fecha">FECHA NACIMIENTO</label>
                        <input type="text" id="fecha" name="fecha" placeholder="Fecha de Nacimiento" class="form-control">
                      </div>

                    <div class="form-group">
                        <label for="email">EMAIL</label>
                        <input type="text" id="email" name="email" placeholder="Email" class="form-control">
                      </div>

                    <div class="form-group">
                        <label for="telefono">TELEFONO</label>
                        <input type="text" id="telefono" name="telefono" placeholder="Telefono" class="form-control">
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Registrar</button>
                    </div>

                    
                </form>


            </div>




        </div>
    </div>
</div>
{% endblock %}
